@font-face {
    font-family: 'SavedByZero';
    src: url(../fonts/SavedByZero.otf);
}

@font-face {
    font-family: 'SpaceAge';
    src: url(../fonts/SpaceAge.ttf);
}

@font-face {
    font-family: 'SphereFez';
    src: url(../fonts/SphereFez.otf);
}

@font-face {
    font-family: 'Ethnocentric';
    src: url(../fonts/Ethnocentric.otf);
}
  
@font-face {
    font-family: 'Genos';
    src: url(../fonts/Genos.ttf);
}