*
{
    margin: 0;
}

html
{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    
}

body
{
    background-color: #182034;
}

nav
{
    
    position: fixed;
    right: 0;
    z-index: 99;
    
    
    border-radius: 0px 0px 0px 40px;
    padding: clamp(10px, 2vw, 30px);
}

#navContainer {
    padding: 0px 0px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navElements {
    display: flex;
    
}

.navElements a {
    display: flex;
    text-decoration: none;
    font-family: 'Ethnocentric';
    color: white;
    font-size: clamp(20px, 1.5vw, 60px);
    border-right: 3px solid white;
    padding: 0 10px 0 10px;
}

.navElements a:hover
{
    background-color: rgb(148, 62, 228);
}

.navElements a:hover:first-child
{
    border-radius: 0 0 0 20px;
}

#raketa
{
    position: fixed;
    left: 0;
    top: 0;
    color: white;
    text-decoration: none;
}

#raketa img
{
    width: clamp(80px, 5vw, 150px);
    margin: clamp(5px, 1vw, 10px);
}

header .container
{
    background-image: url('../img/header.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
}

#title
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    text-shadow: 10px 10px 10px black;
    pointer-events: none;
    
    
}

#title h1
{
    font-family: 'SpaceAge';
    font-size: clamp(40px, 5vw, 200px);
    font-weight: normal;
    color: white;
    border-radius: 20%;
}

#title p
{
    padding-top: 1vh;
    font-family: 'SphereFez';
    font-size: clamp(15px, 2vw, 60px);
    color: white;
    
}

.line
{
    position: absolute;
    width: 20px;
    border-top: 2px solid white;
}

.container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    scroll-snap-align: center;
  }

#adatok {
    background-image: url(../img/bg1.jpg);
}

#tortenelem{
    background-image: url(../img/bg2.jpg);
}

#kutatasok
{
    background-image: url(../img/bg3.jpg);
}
  
.section {
    
    position: relative;
    top: 20vh;
    width: auto;
    height: auto;
    padding: 0px 50px 0px 50px;
    text-shadow: 10px 10px 10px black;
    
    
    
  }

.szoveg
{
    color: white;
    font-family: 'Genos';
    font-size: clamp(20px, 2vw, 70px);
    width: 60%;
    
}

.szovegcim
{
    font-family: 'Ethnocentric';
}




@media screen and (max-width: 800px) {
    .navElements {
        flex-direction: column;
        justify-content: center;
    }

    .navElements a
    {
        border-radius: 0 0 0 20px;
        padding: 10px 10px 10px 0;
    }

    .navElements:last-child{
        align-items: flex-end;
    }

    .navElements a:last-child
    {
        border-right: 3px solid;
    }

    
  }




  