*
{
    margin: 0;
}

html
{
    
    scroll-snap-type: y mandatory;
    
}

body
{
    background-color: #182034;
}

nav
{
    
    position: fixed;
    right: 0;
    z-index: 99;
    
    
    border-radius: 0px 0px 0px 40px;
    padding: clamp(10px, 2vw, 30px);
}

#navContainer {
    padding: 0px 0px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navElements {
    display: flex;
    
}

.navElements a {
    display: flex;
    text-decoration: none;
    font-family: 'Ethnocentric';
    color: white;
    font-size: clamp(20px, 2vw, 30px);
    border-right: 3px solid white;
    padding: 0 10px 0 10px;
}

.navElements a:hover
{
    background-color: rgb(148, 62, 228);
}

.navElements a:hover:first-child
{
    border-radius: 0 0 0 20px;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80px;
    max-height: 100%;
}

#logo img {
    max-width: 100%;
    max-height: 100%;
}

header .container
{
    background-image: url('../img/header.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
}

#title
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    text-shadow: 10px 10px 10px black;
    
    
}

#title h1
{
    font-family: 'SpaceAge';
    font-size: clamp(40px, 5vw, 100px);
    font-weight: normal;
    color: white;
    border-radius: 20%;
}

#title p
{
    padding-top: 1vh;
    font-family: 'SphereFez';
    font-size: clamp(15px, 2vw, 30px);
    color: white;
    
}

.container {
    background-image: url(../img/bg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    scroll-snap-align: center;
    
    
  }
  
.section {
    
    position: relative;
    transform: translateY(50%);
    width: auto;
    height: auto;
    padding: 50px 50px 50px 50px;
    
  }

.szoveg
{
    font-size: clamp(20px, 2vw, 50px);
    color: white;
    font-family: 'Genos';
   
    
}

.szovegcim
{
    font-family: 'Ethnocentric';
}

.szoveg ul
{
    list-style: circle;
}




@media screen and (max-width: 800px) {
    .navElements {
        flex-direction: column;
        justify-content: center;
    }

    .navElements a
    {
        border-radius: 0 0 0 20px;
        padding: 10px 10px 10px 0;
    }

    .navElements:last-child{
        align-items: flex-end;
    }

    .navElements a:last-child
    {
        border-right: 3px solid;
    }

    
  }




  