body
{
    background-color: #182034;
    margin: 0;
    height: auto;
}

nav
{
    padding: 0px 20px 0px 20px;
    background-color: white;
}

#navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.navElements {
    display: flex;
}

.navElements a {
    display: flex;
    text-decoration: none;
    font-family: 'SavedByZero';
    color: black;
    font-size: clamp(20px, 2vw, 30px);
    border-right: 3px solid black;
    padding: 0 10px 0 10px;
}

.navElements a:last-child
{
    border-right: 0;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80px;
    max-height: 100%;
}

#logo img {
    max-width: 100%;
    max-height: 100%;
}

@media screen and (max-width: 800px) {
    .navElements {
        flex-direction: column;
        justify-content: center;
    }
    .navElements:last-child{
        align-items: flex-end;
    }
    .navElements a:last-child
    {
        border-right: 3px solid black;
    }

  }